:root {
  /* Primary colors */
  --primary-color1: #495E57;
  --primary-color2: #F4CE14;
  --primary-color3: #000000;
  --primary-color4: #FFFFFF;
  /* Secondary colors */
  --secondary-color1: #EE9972;
  --secondary-color2: #FBDABB;
  --secondary-color3: #EDEFEE;
  --secondary-color4: #333333;

}

/* 
----- All Components Code
*/
.main-content, footer {
  padding: 5% 150px;
}
.css-1oqxdqo {
  padding: 0 !important;
}

/* 
----- Footer Component Style
*/

footer {
  background-color: var(--secondary-color3);
  color: var(--secondary-color4);
}
.footer-link {
  color: var(--secondary-color4);
  text-decoration: none;
}
.footer-link:hover {
  color: var(--primary-color2);
  text-decoration: none !important;
}

/* 
===== CTA Button Component Style
*/
.CTAButton {
  margin: 5% 0;
  padding: 4% 5% !important;
  background-color: var(--primary-color3) !important;
  color: var(--primary-color4) !important;
  border-radius: 16px !important;
}
.CTAButton:hover {
  background-color: var(--primary-color2) !important;
  color: var(--primary-color3) !important;
}

.CTAButton2 {
  background-color: var(--primary-color2) !important;
  color: var(--primary-color3) !important;
  border-radius: 16px !important;
}
.CTAButton2:hover {
  background-color: var(--primary-color3) !important;
  color: var(--primary-color4) !important;
}


/*
----- Specials Component Code
*/
.specials {
  background-color: var(--primary-color4);
}